html {
  	box-sizing: border-box;
	font-size:16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
:root{
    --p-color:#1B3C53;
    --s-color:#456882;
    --t-color:#D2C1B6;
    --q-color:#F9F3EF;
}
.header{
    width: 100%;
    height: 40px;
    background-color: var(--p-color);
    color: var(--t-color);
    text-align: center;
    padding-top: 0.5rem;
}

.pedir-link{
    text-decoration: none;
    color: var(--t-color);
}
.logo-ghots{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: bottom;
}
.navbar{
    /* border: thick solid red; */
    background-color: var(--t-color) !important
}
.main-image-container{
    width: 100%;
    height: 200px;
    background-image: url('../images/mainimage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}
.main-phrase{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-phrase > p{
    text-align: center;
    padding: 0.5rem;
}
.eboost-pre,
.renova-pre{
    width: 100%;
    height: auto;
}
.eboost-pre > img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}
.nuestros-productos{
    text-align: center;
    font-size: 1.5rem;
    color: var(--t-color);
    font-weight: 800;
}

.renova-pre > img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
    
}
.main-phrase b{
    color: var(--s-color);
}
.footer{
    width: 100%;
    height: 150px;
    background-color: var(--p-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p{
    color: var(--t-color);
    font-size: 1.3rem;
}
.footer a{
    padding: 1rem;
    text-decoration: none;
    
}
.footer svg{
   color: var(--t-color);
   
}
